<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCC2qjViYomRzzbEGz42CSefHy8lzo--RQ</string>
	<key>GCM_SENDER_ID</key>
	<string>750765241871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.JournalBuddy</string>
	<key>PROJECT_ID</key>
	<string>journal-buddy-bfa71</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-buddy-bfa71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750765241871:ios:2001a901254d0b179f957a</string>
</dict>
</plist>